body {
  width: 100%;
}

a {
  text-decoration: none;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.header {
  background-color: white;
  width: 100%;
}
.header__logo {
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #353535;
  color: white;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 15px;
}
.footer__contenu {
  display: flex;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 400;
  padding-left: 15px;
}
.footer .iconfooter {
  padding-right: 10px;
  font-size: 12px;
}

.localisation {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  color: black;
  background-color: #eaeaea;
  box-shadow: inset 0px 6px 10px -6px #C1C1C1;
  padding-top: 10px;
  padding-bottom: 10px;
}
.localisation__city {
  border: none;
  font-size: 1em;
  padding-left: 10px;
  cursor: text;
  background-color: #eaeaea;
  color: black;
  font-family: "Roboto", sans-serif;
}
.localisation i {
  margin-left: 40px;
}

.presentation {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 30px;
}
.presentation h1 {
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 10px;
}
.presentation p {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 1em;
  margin-bottom: 20px;
}
.presentation button {
  width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background: linear-gradient(70deg, #FF79DA, #9356DC);
  border: none;
  border-radius: 20px;
  padding: 15px 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #353535;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Roboto", sans-serif;
}
.fonctionnement__title {
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 20px;
}
.fonctionnement__contenu {
  display: flex;
  width: 95%;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0px 5px 6px 1px #C1C1C1;
}
.fonctionnement .count {
  display: flex;
  background-color: #9356DC;
  margin-left: -40px;
  border-radius: 50px;
  padding: 6px 10px;
  color: white;
  font-size: 0.8em;
  margin-right: 20px;
}
.fonctionnement i {
  color: #6b6b6b;
  margin-right: 10px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #eaeaea;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Roboto", sans-serif;
}
.restaurant__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 1.6em;
  margin-bottom: 20px;
}
.restaurant__box {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.restaurant__list {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  position: relative;
}
.restaurant__list img {
  width: 100%;
  height: 28vh;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  object-position: 50% 60%;
}
.restaurant__list .new {
  width: fit-content;
  background: #99E2D0;
  color: #008766;
  padding: 4px 9px;
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
}
.restaurant__list h2 {
  font-weight: 700;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.restaurant__list p {
  font-weight: 300;
  padding-left: 10px;
  padding-bottom: 10px;
}
.restaurant__list .heart {
  width: 30px;
  display: flex;
  margin-left: auto;
  position: absolute;
  bottom: 20px;
  right: 15px;
}/*# sourceMappingURL=style.css.map */