.footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $darkgrey;
  color: $white;
  padding: 15px;

  &__title{
    font-family: $logo-font;
    margin-bottom: 15px;
    color: $white;
  }

  &__contenu{
    display: flex;
    font-family: $text-font;
    color: $white;
    font-weight: 400;
    align-items: center;
  }

  .iconfooter{
    width: 5px;
    font-size: 13px;
    margin-right: 20px;
  }
}