/*RESET*/
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*BASE*/
body {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 700px;
}

.loader {
  height: 100%;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 20;
  animation: disparition 2s linear;
  visibility: hidden;
}

@keyframes disparition {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.circle {
  border-top: 15px solid #99e2d0;
  border-bottom: 15px solid #ff79da;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lettre {
  font-family: "Shrikhand", cursive;
  font-size: 0.7em;
  letter-spacing: 12px;
  animation: blur 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes blur {
  0% {
    filter: blur(0);
  }
  33% {
    filter: blur(2px);
  }
  100% {
    filter: blur(12px) opacity(0%);
  }
}
.header {
  background-color: white;
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__box {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 150px;
}
.header__back {
  color: black;
  width: 10px;
  position: relative;
  left: -60px;
}
@media screen and (min-width: 900px) {
  .header__logo {
    width: 250px;
  }
  .header__back {
    font-size: 30px;
  }
}

.localisation {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  color: black;
  background-color: #eaeaea;
  box-shadow: inset 0px 6px 10px -6px #C1C1C1;
  padding-top: 10px;
  padding-bottom: 10px;
}
.localisation__city {
  border: none;
  font-size: 1em;
  padding-left: 10px;
  cursor: text;
  background-color: #eaeaea;
  color: black;
  font-family: "Roboto", sans-serif;
}
.localisation i {
  margin-left: 40px;
}

.presentation {
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 30px;
}
.presentation__box {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
}
.presentation h1 {
  width: 70%;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 10px;
}
.presentation p {
  width: 90%;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 1em;
  margin-bottom: 20px;
}
.presentation .p_button {
  width: 200px;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #FF79DA, #9356DC);
  border: none;
  box-shadow: 0px 5px 6px 1px #C1C1C1;
  border-radius: 20px;
  padding: 15px 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: opacity 1s;
}
.presentation .p_button:hover {
  animation: shadow 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  opacity: 0.7;
}
@keyframes shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 3px 10px 0px black;
  }
}
@media screen and (min-width: 768px) {
  .presentation .p_button {
    width: 300px;
    padding: 20px 20px;
    font-size: 1.2em;
  }
  .presentation h1 {
    font-size: 1.6em;
  }
  .presentation p {
    font-size: 1.2em;
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #353535;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 600px) {
  .fonctionnement {
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    width: 50%;
  }
}
.fonctionnement__title {
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 20px;
  color: black;
}
.fonctionnement__contenu {
  display: flex;
  width: 95%;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0px 5px 6px 1px #C1C1C1;
}
.fonctionnement .count {
  display: flex;
  background-color: #9356DC;
  margin-left: -40px;
  border-radius: 50%;
  padding: 6px 10px;
  color: white;
  font-size: 0.8em;
  margin-right: 20px;
}
.fonctionnement i {
  color: #6b6b6b;
  margin-right: 10px;
}
@media screen and (min-width: 600px) {
  .fonctionnement__title {
    font-size: 1.6em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .fonctionnement__contenu {
    font-size: 1.2em;
    color: black;
  }
}

.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #eaeaea;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Roboto", sans-serif;
}
.restaurant__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 1.6em;
  margin-bottom: 20px;
}
.restaurant__box {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.restaurant__list {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  position: relative;
}
.restaurant__list img {
  width: 100%;
  height: 28vh;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  object-position: 50% 60%;
}
.restaurant__list .new {
  width: fit-content;
  background: #99E2D0;
  color: #008766;
  padding: 4px 9px;
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
}
.restaurant__list h2 {
  font-weight: 700;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.restaurant__list p {
  font-weight: 300;
  padding-left: 10px;
  padding-bottom: 10px;
}
.restaurant__list .heart {
  width: 30px;
  display: flex;
  margin-left: auto;
  position: absolute;
  bottom: 20px;
  right: 15px;
}
.restaurant__list .heart .heart-full {
  fill: white;
}
.restaurant__list .heart .heart-full:hover {
  animation: remplissage 4s ease, scale 2s ease-in-out;
  fill: #FF79DA;
  stroke: #FF79DA;
}
@keyframes remplissage {
  0% {
    fill: none;
    stroke: black;
  }
  20% {
    fill: #ee97d5bd;
    fill-opacity: 0.5;
  }
  50% {
    fill: #ff79da;
    fill-opacity: 0.7;
  }
  100% {
    fill: #9356dc;
    stroke: none;
    fill-opacity: 1;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@media screen and (min-width: 768px) {
  .restaurant__title {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.7em;
  }
  .restaurant__cartes {
    width: 95%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  .restaurant__list {
    width: 40%;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant__cartes {
    width: 100%;
    justify-content: start;
    flex-wrap: nowrap;
  }
  .restaurant__list {
    width: 30%;
    margin-right: 10px;
  }
}

.restaurant__image {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .restaurant__image img {
    border-radius: 20%;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #eaeaea;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  margin-top: -40px;
  color: black;
  overflow: hidden;
}
.menu__title {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  padding-left: 15px;
}
.menu .heart {
  width: 30px;
  display: flex;
  position: relative;
  margin-left: auto;
  top: -35px;
  right: 25px;
}
.menu .heart .heart-full {
  fill: #eaeaea;
}
.menu .heart .heart-full:hover {
  animation: remplissage 4s ease-in, scale 2s linear;
  fill: #FF79DA;
}
@keyframes remplissage {
  0% {
    fill: none;
  }
  33% {
    fill: #ffdff6;
    fill-opacity: 0.5;
  }
  50% {
    fill: #FF79DA;
    fill-opacity: 0.7;
  }
  100% {
    fill: linear-gradient(90deg, #FF79DA, #9356DC);
    fill-opacity: 1;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
.menu__list {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.menu__subtitle {
  text-transform: uppercase;
  font-weight: 200;
  width: 40px;
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.menu__contenu {
  margin-bottom: 20px;
}
.menu__plat {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 5px 6px 1px #C1C1C1;
  animation: opacity 1s both;
  position: relative;
  overflow: hidden;
}
@keyframes opacity {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.menu #option1 {
  animation-delay: 0.5s;
}
.menu #option2 {
  animation-delay: 0.6s;
}
.menu #option3 {
  animation-delay: 0.7s;
}
.menu #option4 {
  animation-delay: 0.8s;
}
.menu #option5 {
  animation-delay: 0.9s;
}
.menu #option6 {
  animation-delay: 1s;
}
.menu #option7 {
  animation-delay: 1.1s;
}
.menu #option8 {
  animation-delay: 1.2s;
}
.menu #option9 {
  animation-delay: 1.3s;
}
.menu #option10 {
  animation-delay: 1.4s;
}
.menu .plat__title {
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu h3 {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu h4 {
  font-size: 0.9em;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu .plat__price__check {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  align-items: center;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(60px);
}
.menu .plat__price__check:hover {
  transform: translateX(0px);
  transition: transform 1.5s;
}
.menu p {
  font-size: 0.9em;
  font-weight: 500;
  display: flex;
  padding-right: 10px;
}
.menu .icon {
  display: flex;
  width: 60%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  position: relative;
  background: #99E2D0;
}
.menu i {
  padding: 16px 16px;
  font-size: 30px;
  color: white;
}
.menu i:hover {
  animation: rotate 1s;
}
@keyframes rotate {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0);
  }
}
.menu button {
  width: 150px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(90deg, #FF79DA, #9356DC);
  border: none;
  border-radius: 20px;
  padding: 15px 20px;
  justify-content: center;
  color: white;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0px 5px 6px 1px #C1C1C1;
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: opacity 1s;
}
.menu button:hover {
  animation: shadow 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  opacity: 0.7;
}
@keyframes shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 3px 10px 0px black;
  }
}
@media screen and (min-width: 900px) {
  .menu__list {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .menu__plat {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .menu__title {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 2.3em;
    padding-left: 0px;
    padding-bottom: 20px;
  }
  .menu .heart {
    width: 50px;
    display: flex;
    position: relative;
    margin-left: auto;
    top: -60px;
    right: 50px;
  }
  .menu__plat {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .menu__contenu {
    margin-right: 10px;
    width: 40%;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #353535;
  color: white;
  padding: 15px;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  margin-bottom: 15px;
  color: white;
}
.footer__contenu {
  display: flex;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 400;
  align-items: center;
}
.footer__contenu:hover {
  text-decoration: underline;
  font-weight: 600;
}
.footer .iconfooter {
  width: 5px;
  font-size: 13px;
  margin-right: 20px;
}
@media screen and (min-width: 600px) {
  .footer__title {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .footer__contenu {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .footer__title {
    font-size: 20px;
  }
  .footer__contenu {
    font-size: 16px;
  }
  .footer .iconfooter {
    font-size: 13px;
    margin-right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
