.localisation{
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  color: $black;
  background-color: $grey;
  box-shadow: inset 0px 6px 10px -6px #C1C1C1;
  padding-top: 10px;
  padding-bottom: 10px;

  &__city{
    border: none;
    font-size: 1em;
    padding-left: 10px;
    cursor: text;
    background-color: $grey;
    color: $black;
    font-family: $text-font;
  }

  i{
    margin-left: 40px;
  }
}

.presentation{
  width: 100%;
  background-color: $lightgrey;
  padding-top: 30px;
  padding-bottom: 30px;

  &__box{
    display: flex;
    flex-direction: column;
    width: 95%;
    @include margin;
    text-align: center;
    align-items: center;
  }

  h1{
    width: 70%;
    color: $black;
    font-family: $text-font;
    font-weight: 700;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  p{
    width: 90%;
    color: $black;
    font-family: $text-font;
    font-weight: 200;
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;
  }

  .p_button{
    width: 200px;
    display: flex;
    justify-content: center;
    background: $gradient;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    color: $white;
    font-family: $text-font;
    font-weight: 500;
    cursor: pointer;
  }

@media screen and (min-width:768px){
  .p_button{
    width: 300px;
    padding: 20px 20px;
    font-size: 1.2em;
  }
  h1{
    font-size: 1.6em;
  }
  p{
    font-size: 1.2em;
  }
}
}

.fonctionnement{
  display: flex;
  flex-direction: column;
  width: 90%;
  @include margin;
  color: $darkgrey;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: $text-font;

  &__title{
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 20px;
    color: $black;
  }

  &__contenu{
    display: flex;
    width: 95%;
    font-weight: 500;
    @include margin;
    align-items: center;
    background-color: $lightgrey;
    margin-bottom: 20px;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: $shadow;
  }

  .count{
    display: flex;
    background-color: $primary;
    margin-left: -40px;
    border-radius: 50%;
    padding: 6px 10px;
    color: $white;
    font-size: 0.8em;
    margin-right: 20px;
  }

  i{
    color: darken($grey,50%);
    margin-right: 10px;
  }
}
@media screen and (min-width:600px){
  .fonctionnement{
  width: 60%;
  
  &__title{
    font-size: 1.6em;
    width: 100%;
    @include margin;
    text-align: center;
  }
  }
}
@media screen and (min-width:768px){
  .fonctionnement{
  width: 50%;

  &__contenu{
    font-size: 1.2em;
    color: $black;
  }
  }
}


.restaurant{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $grey;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: $text-font;

  &__title{
    font-family: $text-font;
    font-weight: 700;
    color: $black;
    font-size: 1.6em;
    margin-bottom: 20px;
  }

  &__box{
    display: flex;
    flex-direction: column;
    width: 90%;
    @include margin;
  }

  &__list{
    background-color: $white;
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;

  img{
    width: 100%;
    height: 28vh;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    object-position: 50% 60%;
    }
  
  .new{
    width: fit-content;
    background: $tertiary;
    color: $darktertiary;
    padding: 4px 9px;
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  h2{
    font-weight: 700;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  p{
    font-weight: 300;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .heart{
    width: 30px;
    display: flex;
    margin-left: auto;
    position: absolute;
    bottom: 20px;
    right: 15px;
  }
  }


@media screen and (min-width:768px){
  &__title{
    width: 100%;
    @include margin;
    text-align: center;
    font-size: 1.7em;
  }
  &__cartes{
    width: 95%;
    display: flex;
    @include margin;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__list{
    width: 40%;
    margin-right: 20px;
  }
}
@media screen and (min-width:1024px){
  &__cartes{
    width: 100%;
    justify-content: start;
    flex-wrap: nowrap;
  }
   &__list{
    width: 30%;
    margin-right: 10px;
  }
}
}

