.restaurant__image{
  width: 100%;

  @media screen and (min-width:1024px){
    img{
      border-radius:40% 40% 0% 0%;
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }
}


.menu{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $grey;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  margin-top: -40px;
  color: black;
  overflow: hidden;

  &__title{
    font-family: $logo-font;
    font-size: 25px;
    padding-left: 15px;
  }
    
  .heart{
    width: 30px;
    display: flex;
    position: relative;
    margin-left: auto;
    top: -35px;
    right: 25px;

    .heart-full{
    fill: $grey;

    &:hover{
    animation: remplissage 4s ease-in, scale 2s linear;
    fill: $secondary;
    }
    }
  }   
  @keyframes remplissage{
    0%{
      fill: none;
    }
    33%{
      fill:lighten($secondary, 20);
      fill-opacity: 0.5;
    }
    50%{
      fill: $secondary;
      fill-opacity: 0.7;
    }
    100%{
      fill: $gradient;
      fill-opacity: 1;
    }
  }
  @keyframes scale{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.5);
    }
  }

  &__list{
    display: flex;
    flex-direction: column;
    width: 95%;
    @include margin;
    font-family: $text-font;
    cursor: pointer;
  }

  &__subtitle{
    text-transform: uppercase;
    font-weight: 200;
    width: 40px;
    border-bottom: 4px solid $tertiary;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }

  &__contenu{
    margin-bottom: 20px;
  }

  &__plat{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: $shadow;
    animation: opacity 1s both;
    position: relative;
    overflow: hidden;
  }
    @keyframes opacity{
      0%{
        opacity: 0;
        visibility: hidden;
      }
      100%{
        opacity: 1;
        visibility: visible;
      }
    }

  #option1{
    animation-delay: 0.5s;
  }
  #option2{
    animation-delay: 0.6s;
  }
  #option3{
    animation-delay: 0.7s;
  }
  #option4{
    animation-delay: 0.8s;
  }
  #option5{
    animation-delay: 0.9s;
  }
  #option6{
    animation-delay: 1s;
  }
  #option7{
    animation-delay: 1.1s;
  }
  #option8{
    animation-delay: 1.2s;
  }
  #option9{
    animation-delay: 1.3s;
  }
  #option10{
    animation-delay: 1.4s;
  }

  .plat__title{
    font-family: $text-font;
    width: 100%;
  }
  h3{
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 10px;
    }
  
  h4{
    font-size: 0.9em;
    font-weight: 300;
  }

  .plat__price__check{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    align-items: center;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(60px);
  }
  
  p{
    font-size: 0.9em;
    font-weight: 500;
    padding-right: 10px;
  }

  .icon{
    display: flex;
    width: 60%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    position: relative;
    background: $tertiary;
  

    i{
    padding: 16px 16px;
    font-size: 30px;
    color: white;  
    justify-content: center;
    }
  }
  
  button{
    width: 150px;
    display: flex;
    @include margin;
    background: $gradient;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    justify-content: center;
    color: white;
    font-size: 1em;
    font-family: $text-font;
    font-weight: 400;
    cursor: pointer;
    box-shadow: $shadow;
    position: relative;
    z-index: 1;
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s;

    &:hover{
    animation: shadow 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    opacity: 0.7;
    transform: scale(1.2);
    }
  }
  @keyframes shadow{
      0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
      100% {
        box-shadow: 0 3px 10px 0px rgb(0, 0, 0);
      }
    }


/*animation de la check box au hover et au clique*/

.plat{
  &:hover, &:focus, &:active{
    .plat__title{
      width: 65%;
      h3, h4{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      }
    }
    .plat__price__check{
      width: 35%;
      transform: translateX(0px);
      transition: all 1.5s ease-in;
    }
    i{
      transform: rotate(360deg);
      transition: all 1.5s ease-in;
    }
    
  }
}

/*media queries*/
    @media screen and (min-width:500px){
      &__list{
        width: 60%;
      }
    }

    @media screen and (min-width:900px){
        &__title{
          width: 100%;
          display: flex;
          @include margin;
          justify-content: center;
          font-size: 2.3em;
          padding-left: 0px;
          padding-bottom: 20px;
      }
      .heart{
        width: 50px;
        display: flex;
        position: relative;
        margin-left: auto;
        top: -60px;
        right: 50px;
      } 
        &__list{
          width: 60%;
        }
    } 

    @media screen and (min-width:1024px){
      &__list{
      display: flex;
      flex-direction: row;
      width: 95%;
      @include margin;
      justify-content: center;
      }

      &__contenu{
      margin-right: 10px;
      @include margin;
      }

      &__plat{
      width: 30vw;
      }

    }
}